
.board-view-wrapper {
    width: 60%;
    margin: 0 auto;
  }
  
  .board-view-go-list-btn {
    border: 0;
    padding: 10px;
    background-color: #ffd9d9;
  }
  
  .board-view-row {
    margin: 10px 0;
    display: flex;
  }
  
  .board-view-row > label:first-child {
    margin: 10px 0;
    width: 30%;
    font-weight: bold;
  }
  
  .board-view-row > *:nth-child(2) {
    margin: 10px 0;
    width: 70%;
  }

  .button-container {
    display: flex; 
    justify-content: flex-end; 
    width: 10%; 
    margin-bottom: 20px;
  }

  .creat-board-btn {
    background-color: rgb(201, 128, 225);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .creat-board-btn:hover {
    background-color: #ffd9d9;
  }