.board-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .board-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(163, 156, 231);
    color: #fff;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: rgb(163, 156, 231);
  }
  