@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

* {
    /*  box-sizing: border-box; */
    font-family: 'SUIT-Medium';
}

div h5 {
    margin-bottom: 3px; 
    color: rgb(107, 107, 107);
}

.loginForm {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    border: 5px solid rgb(163, 156, 231);
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3#login_title {
    margin-bottom: 30px; 
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userId, .password {
    width: 300px;
    height: 40px;
    border : 1px solid rgb(163, 156, 231);
    border-radius:5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.loginBut {
    background-color: rgb(163, 156, 231);
    color : white;
    border : none;
    border-radius: 5px;
    font-size: 17px;
    height: 30px;
    width: 300px;
}

.loginBut:hover {
    background-color: #f8d1dd; 
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    text-decoration: none; 
    color: rgb(107, 107, 107); 
}

.link a:hover {
    color: #f8d1dd; 
}

/* 카카오 로그인 */
.kakao-login-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FEE500;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin : 20px 0 10px 0;
  }

.kakao-login-link:hover {
    background-color: #FFD500;
}

.naver-login-link {
    display: inline-block;
    background-color: #03c75a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.naver-login-link:hover {
    background-color: #029e4d;
}