.noteForm {
  width: 80%; 
  max-width: 500px; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto; 
  align-items: center;
  align-content: center;
  border: 5px solid rgb(163, 156, 231);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* 식사 */
fieldset legend {
  font-weight: bold;
  background-color: #f8d1dd; 
  padding: 5px; 
  border-radius: 10px; 
  font-size: auto;
}

fieldset label {
  margin-left: 20px; 
  font-size: auto;
}

/* 오늘 하루 */
#daily {
  width: 100%;
  height: 80px;
  border: 2px solid rgb(173, 172, 172);
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: scroll; 
  resize: none;
}

input[type="checkbox"] {
  margin-right: 2px; 
}

.content {
  padding-top: 10px;
  width: 100%;
}

button {
  height: 40px;
  font-size: auto;
}

button[type="submit"]:hover {
  background-color: #f8d1dd; 
} 

@media (max-width: 768px) {
  .noteForm {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .noteForm {
    width: 95%;
    padding: 10px;
  }
}