.registerPuppyForm {
    width: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(163, 156, 231);
    padding: 30px;
    margin-top: 20px; 
    border-radius: 10px;
    background-color: #fff;
}

.input-puppy, .input-introduction {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(163, 156, 231);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.input-introduction {
    height: 100px;
}

#registerPuppyBut {
    background-color: rgb(163, 156, 231);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#registerPuppyBut:hover {
    background-color: #f8d1dd;
    transform: scale(1.05);
}

.neutering-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 30px;
}

.neutering {
    margin-right: 30px;
    font-size: 16px;
}

.neutering-container label {
    margin-right: 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .registerPuppyForm {
        width: 95%;
        margin-top: 10%;
    }

    h3 {
        font-size: 1.5em;
    }

    .input-puppy, .input-introduction {
        width: 100%;
    }

    #registerPuppyBut {
        width: 100%;
    }
}
