.registerPuppyForm {
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7%;
        align-items: center;
        position: absolute;
        border: 5px solid rgb(163, 156, 231);
}


.input-puppy {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(163, 156, 231);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 5%;
}

.input-introduction {
    width: 300px;
    height: 100px;
    border: 1px solid rgb(163, 156, 231);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

#registerPuppyBut {
    background-color: rgb(163, 156, 231);
    color : white;
    width: 300px;
    height:50px;
    font-size: 20px;
    font-weight: bold;
    border : none;
    border-radius: 5px;
    margin : 20px 0 20px 0; 
}

.neutering-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 모든 요소를 왼쪽으로 정렬 */
    margin-bottom: 10px;
    text-align: left;
    color:dimgray;
}

.neutering {
    margin-right: 30px; /* Adjust the space between the text and the radio buttons */
}

.neutering-container label {
    margin-right: 10px; /* Adjust the space between the radio buttons */
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    h3 {
      font-size: 1.5em;
    }
  
    .board-form {
      padding: 10px;
    }
}